h1{
    background-color: darkgreen;
    color: whitesmoke;
    border: solid;
    border-color: crimson;.
}
span.sups{
    color: red;
    background-color:darkblue;
}
spam{
    background-color: darkgreen;
    color: antiquewhite;
}
span.star{
    background-color: black;
    color: yellow;
}

hr{
    width: 70%;
    height: 3%;
    background-color: red;
    border-color:chartreuse;
    border-style:solid;
    border-width: 4px;
}

