*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{
    text-align: center;
    font-family: sans-serif;
}
ol{
    list-style: none:
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.head{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    height: 70px;
    background-color: aqua;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}
.logo{
    width: 50%;
}
.header{
    background-color: brown;
}





/*
div.head{
    border: groove;
    border-color:crimson;
    position:;
    font-size: 160%;
    font-family: sans-serif;
    background: url(762343.jpg);
    display: inline-block;
}
img.logo{
    width: 10%;
}
nav.navbar{
    text-align: right;
}
header.header{
    border: dashed;
    position:relative;
}
*/