body{
    margin: 0px;
    border-style:solid;
    border-color: green;
    background-color: aqua;
}

h1{
    color:whitesmoke;
    border-style:dashed;
    background-color:black;
    border-color: crimson;
    border-width:4px;
}

p{
    padding: 10px 20px 7px;
    border-radius: 20rem;
    border: ridge 0.9rem;
    border-color: goldenrod white cadetblue firebrick;
    font-family: monospace;
    color: ivory;
    width: 20%;
    font-family: initial;
    font-size: larger;
}

html{
    margin: 0px;
    border: blue inset 6px;
}