body{
    border-style:solid;
    border-color: green;
    background-color: darkmagenta;
}

h1{
    color:whitesmoke;
    border-style:dashed;
    background-color:black;
    border-color: crimson;

}